.container {
    margin: 0 auto;
    height: 100%;
    max-width: 600px;
    padding: 5rem 2rem 2rem 2rem;
    // display: flex;
    // flex-direction: column;
    /* justify-content: space-around; */
    /* background-color: blue; */
    /* align-items: space-around; */
}
